<!-- Meta Tags -->
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="description" content="Maharishi Dayanand Computer Institute - Home" />

<!-- Title -->
<title>Maharishi Dayanand Computer Institute - Home</title>

<!-- Favicon -->
<link rel="shortcut icon" href="/assets/images/logo/favicon.png" />

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet" />

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />

<!-- Custom Fonts & Core Styles -->
<link href="/css/fonts/fonts.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/custom.css" />
<link rel="stylesheet" href="/assets/css/main.css" />

<!-- Animation and Effects -->
<link rel="stylesheet" href="/css/animation.css" />
<link rel="stylesheet" href="/css/aos.css" />
<link rel="stylesheet" href="/css/w3.css" />
<link rel="stylesheet" href="/css/cursor.css" />

<!-- Swiper Slider -->
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

<!-- Slick Carousel -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

<!-- DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css" />

<!-- Admin Dashboard Styles -->
<link rel="stylesheet" href="/assets/css/file-upload.css" />
<link rel="stylesheet" href="/assets/css/plyr.css" />
<link rel="stylesheet" href="/assets/css/full-calendar.css" />
<link rel="stylesheet" href="/assets/css/jquery-ui.css" />
<link rel="stylesheet" href="/assets/css/editor-quill.css" />
<link rel="stylesheet" href="/assets/css/apexcharts.css" />
<link rel="stylesheet" href="/assets/css/calendar.css" />
<link rel="stylesheet" href="/assets/css/jquery-jvectormap-2.0.5.css" />

<!-- jQuery and Bootstrap Bundle -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>

<!-- SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
